--constraint https://raw.githubusercontent.com/apache/airflow/constraints-3.1.0/constraints-3.12.txt
apache-airflow[git,fab,celery,mysql,postgres,microsoft.mssql,oracle,salesforce,sftp,amazon,http]==3.1.0